---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<div class="social-links">
			<a href="#" target="_blank">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="64" height="64" aria-label="Discord">
  <circle cx="256" cy="256" r="256" fill="#5865F2"/>
  <path fill="#fff" d="M360.9 160.6a250.5 250.5 0 0 0-62.4-19.2 173.8 173.8 0 0 0-8 16.2 232.7 232.7 0 0 0-34.6-2.6 233.1 233.1 0 0 0-34.6 2.6 173.9 173.9 0 0 0-8-16.2 252.7 252.7 0 0 0-62.4 19.2c-39.5 58.4-50.2 115.4-44.8 171.5a251.7 251.7 0 0 0 76.5 38.4c6.2-8.3 11.7-17.2 16.4-26.4a161.7 161.7 0 0 1-25.8-12.3 131 131 0 0 1 6.3-4.8c23.9 11.2 50 17.1 76.5 17.1s52.6-5.8 76.5-17.1a131.5 131.5 0 0 1 6.3 4.8 162.5 162.5 0 0 1-25.9 12.3 184 184 0 0 0 16.4 26.4 250.5 250.5 0 0 0 76.6-38.4c6.3-65.1-10.7-121.5-44.9-171.6zM205.8 297.6c-14.9 0-27.2-13.5-27.2-30.2s11.9-30.3 27.2-30.3 27.5 13.7 27.2 30.3c-.3 16.6-12 30.2-27.2 30.2zm100.4 0c-14.9 0-27.2-13.5-27.2-30.2s11.9-30.3 27.2-30.3 27.4 13.7 27.2 30.3c-.3 16.6-12 30.2-27.2 30.2z"/>
</svg>

			</a>
		
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
